<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tayo</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/MyProject.css}">
</head>
<body>
    <div id="div_side1">
    	<div id="div_organization_logo">
    		<div id="div_logo_box"><img src="https://flow.team/flow-renewal/assets/images/logo/logo-flow.svg"/></div>
    	</div>
    	<div id="div_new_project">
    		<div id="div_newprj_button"><img src="/img/newprj_btn_dark.png"/></div>
    	</div>
    	<div id="div_left_menu1">
    		<div><img src="/img/hom_dark_icon.png"/>대시보드</div><br/>
    		<div><img src="/img/myprj_dark_icon.png"/>내 프로젝트</div><br/>
    		<div><img src="/img/company_open_dark_icon.png"/>회사 공개 프로젝트</div><br/>
    		<div><img src="/img/more_dark_icon.png"/>더보기</div><br/>
    	</div>
    	<div id="div_left_menu2">
    		<div id="div_collection_btn">모아보기<img src="/img/left_btn_dark.png"/></div>
    		<div id="div_recent_update_btn">최근 업데이트<img src="/img/left_btn_dark.png"/></div>
    		<div id="div_prj_folder_btn">프로젝트 폴더<img src="/img/left_btn_dark.png"/></div>
    	</div>
    	<div id="div_left_menu3">
    		<div><img src="/img/invite_emp_dark.png"/>직원 초대</div>
    		<div><img src="/img/admin_dark.png"/>어드민</div>
    	</div>
    	<div id="div_left_menu4">
    		<img src="/img/guide_dark.png"/>
    		<span>이용가이드</span>
    	</div>
    </div>
    <div id="div_side2">
	    <div id="div_header">
	        <div class="left-container">
	            <div id="div_consultant"><img src="/img/consultant.png"/><span>오프라인 타요 설명회 →</span></div>
	            <div id="div_pay"><img src="/img/pay_button.png"/></div>
	        </div>
	        <div id="div_top_searchbar">
	            <div id="div_main_searchbox">
	                <img src="/img/top_search_dark_icon.png"/>
	                <div id="div_input_search">검색</div>
	            </div>
	            <div id="div_search_option">옵션</div>
	        </div>
	        <div id="div_top_right_menu">
	        	<div id="div_top_hirearchy"><img src="/img/hirearchy_dark.png"/></div>
	        	<div id="div_top_chat"><img src="/img/chat_dark.png"/></div>
	        	<div id="div_top_alarm"><img src="/img/alarm_dark.png"/></div>
	        	<div id="div_profile"><img src="https://flow.team/flow-renewal/assets/images/profile-default.svg"/></div>
	        </div>
	    </div>
	    <div id="div_content">
	    	<div id="div_topsetting">
	    		<div id="div_top_name">내 프로젝트</div>
	    		<div id="div_home_menu">
	    			<div id="div_left_menu">
	    				<div>
	    					<img src="/img/order_icon.png"/>
	    					<div>정렬</div>
	    				</div>
	    				<div>
	    					<img src="/img/setting_icon.png"/>
	    					<div>설정</div>
	    				</div>
	    			</div>
	    			<div id="div_right_menu">
	    				<div>
	    					<img src="/img/order_type1_icon.png"/>
	    				</div>
	    				<div>
	    					<img src="/img/order_type2_icon.png"/>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div id="div_maincontent">
	    		<div id="div_prj_home">
	    			<div id="div_prj_board">
	    				<div id="prj_board_title">참여중</div>
	    				<div class="project_item">
	    					<div class="project_content">
	    						<div class="project_hotlist">
	    							<img src="https://flow.team/flow-renewal/assets/images/icons/icon_star.png?v=c253f2c3b6c7b36ebe1fbb7ba4c300802671771e"/>
	    						</div>
	    						<div class="project_title">[타요] YG Academy</div>
	    						<div class="project_member_cnt">
	    							<img src="/img/prj_member_icon.png"/>
	    							<span class="mebmber_cnt">5</span>
	    						</div>
	    					</div>
	    				</div>
	    				<div class="project_item" style="border-left-color: purple!important;">
	    					<div class="project_content">
	    						<div class="project_hotlist">
	    							<img src="https://flow.team/flow-renewal/assets/images/icons/icon_star.png?v=c253f2c3b6c7b36ebe1fbb7ba4c300802671771e"/>
	    						</div>
	    						<div class="project_title">UAE 협약 프로젝트</div>
	    						<div class="project_member_cnt">
	    							<img src="/img/prj_member_icon.png"/>
	    							<span class="mebmber_cnt">46</span>
	    						</div>
	    					</div>
	    				</div>
	    				<div class="project_item" style="border-left-color: orange!important;">
	    					<div class="project_content">
	    						<div class="project_hotlist">
	    							<img src="https://flow.team/flow-renewal/assets/images/icons/icon_star.png?v=c253f2c3b6c7b36ebe1fbb7ba4c300802671771e"/>
	    						</div>
	    						<div class="project_title">Kakao & Tayo Project</div>
	    						<div class="project_member_cnt">
	    							<img src="/img/prj_member_icon.png"/>
	    							<span class="mebmber_cnt">167</span>
	    						</div>
	    					</div>
	    				</div>

	    			</div>
	    		</div>
	    	</div>
	    </div>
    </div>
</body>
</html>
