<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
		<title>Tayo</title>
		<link rel="stylesheet" type="text/css" th:href="@{/certification.css}">
		<script th:src="@{/certification.js}"></script>
	</head>
<body>
    <div class="container">
        <h2>이메일 인증</h2>
        <p>이메일로 전송된 6자리 코드를 입력하세요.</p>
        <div class="input-container">
			<form th:action="@{/member/certification}" method="post">
	            <input type="text" maxlength="1" name="digit1">
	            <input type="text" maxlength="1" name="digit2">
	            <input type="text" maxlength="1" name="digit3">
	            <input type="text" maxlength="1" name="digit4">
	            <input type="text" maxlength="1" name="digit5">
	            <input type="text" maxlength="1" name="digit6">
				<div class="button-container">
					<button onclick="submitCode()">인증하기</button>
				</div>
			</form>
		</div>
        
    </div>
	
</body>
</html>
