<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<title>Tayo</title>
	<link rel="stylesheet" type="text/css" th:href="@{/regist.css}">
	<script th:src="@{/regist.js}"></script>
</head>
<body>
	<header>
		<nav>
			<div id="header1">
				<a href="http://127.0.0.1:5500/HTML/tayo4/MainPage.html"> <img
					id="flow_img" src="img/flow.png" alt="" />
				</a>
			</div>
			<div id="header2">
				<ul class="item_list">
					<li id="nav1">
						<span class="header_span">
							<i class="n"></i><img
								src="/img/n.png" alt="" /></i> 기능 <i class="arrow"><img
								src="/img/i.png" alt="" /></i>
					</span>
					</li>
					<li id="nav2"><span class="header_span"> 요금 <i
							class="arrow"><img src="/img/i.png" alt="" /></i>
					</span></li>
					<li id="nav3"><span class="header_span"> 팀 협업 <i
							class="arrow"><img src="/img/i.png" alt="" /></i>
					</span></li>
					<li id="nav4"><a class="header_a" href="">강의실</a></li>
					<li id="nav5"><a class="header_a" href="">프로모션</a></li>
				</ul>
				<div class="button_wrap">
					<a class="header_doip_box" href=""> <img
						src="/img/doip.png" alt="" /> 도입 문의
					</a> <a class="header_login_box" href="https://flow.team/signin.act">
						로그인 </a> <a class="header_gaip_box" th:href="@{/member/regist}"> 무료 회원가입 </a>
				</div>
			</div>
		</nav>
		<hr id="header_hr" />
	</header>	<!--  header 종료 -->
	<div id="div_main">		<!--  main 시작  -->
		<div id="div_regist_wrap">
			<div id="div_regist_text">회원가입</div>
			<div id="div_regist_form">
				<form th:action="@{/member/regist}" th:object="${memberCreateForm}" method="post">
					<div id="div_input_id">
						<h4>이름</h4>
						<input type="text" placeholder="이름 입력" th:field="*{name}" style="margin-top: 15px;"/>
					</div>
					<div id="div_input_email">
						<h4>이메일(아이디)</h4>
						<input type="text" placeholder="이메일 입력" th:field="*{email}" style="margin-top: 15px;"/>
					</div>
					<div id="div_input_password">
						<h4>비밀번호</h4>
						<h5>(비밀번호는 8~20자 영문,숫자,특수문자로 입력하세요.)</h5>
						<input type="password" placeholder="비밀번호 입력" th:field="*{password}" style="margin-top: 15px;"/>
						<br/>
						<input type="password" placeholder="비밀번호 확인" th:field="*{checkpw}" style="margin-top: 15px;"/>
					</div>
				
					<div id="div_privacy_agree">
						<h4>타요 이용약관</h4>
						<div id="div_service_terms">
							<div id="div_agree_all">
								<label for="agree_all">
								  <input type="checkbox" name="agree_all" id="agree_all">
								  <span><strong> 모두 동의</strong></span>
								</label>
							</div>
							<div id="div_agree_individual">
								<label for="agree" class="agree_label">
								  <input type="checkbox" name="agree" value="1">
								  <span><strong> [필수]</strong> 이용 약관</span>
								  <span style="float: right; text-decoration: underline; color:gray">보기</span>
								</label>
								<br/>
								<label for="agree" class="agree_label">
								  <input type="checkbox" name="agree" value="2">
								  <span><strong> [필수]</strong> 개인정보 수집 및 이용에 대한 동의</span>
								  <span style="float: right; text-decoration: underline; color:gray">보기</span>
								</label>
								<br/>
								<label for="agree" class="agree_label">
								  <input type="checkbox" name="agree" value="3">
								  <span><strong> [필수]</strong> 만 14세 이상입니다.</span>
								  <span style="float: right; text-decoration: underline; color:gray">보기</span>
								</label>
							</div>
						</div>
					</div>
					<input type="submit" id="normal_login_button" class="login-button">회원가입</input>
					</form>
			</div>
		</div>
	</div>
	<footer></footer>
</body>
</html>